
body {
/* 	background: url("skull-white-glow-dark-4k-f7.jpg"); */
	background: url("rubik_cube_neon_glow_256682_2560x1440.jpg");
	background-size: cover;
	font: 1.2em 'Montserrat', Raleway;
	font-weight: 400;
	color: #EFA3EE;
	}
.preload {
	transition: none;
	}


/* #clock {
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: var(--fontFamily);
  color: var(--fg);
  margin-bottom: 0.25em;
}

h1 {
	font: 4.0em 'Righteous', cursive; 
	color: #F0C58E;
	text-align: center;
	}
 */

/* Links */
ul {
	color: #FD91FA
	list-style-type: none;
	margin-top: 8px;
	padding-left: 0;
	}
li {
	color: #EDEF90;
/* 	padding-left: 16px;	 */
	margin-left: 40px;
	padding-bottom: 1px;
	border-radius: 20px;
	height: 24px;
	}
li:hover {
/* 	background: #222; */
	color: #99FDFB;
/* 	box-shadow: 0 0 4px #FFF; */
	transition: 0.15s linear;
	}
li a {
/* 	margin-left: 8px; */
	padding: 0 8px;
	}
a {
	display: block;
	width: 100%;
	color: #84E6FB;
	text-decoration: none;
	cursor: default;
	}
a:hover {
	color: #FBB269;
	transition: 0.15s linear;
	}


/* Containers */
#boxes {
	width: 99%;
	margin: 0 1%;
	}
.box {
	float: left;
	width: 18%;
	margin: 0 3px;
/* 	opacity: 0.8; */
	transition: 0.15s linear;
	}
.box:hover, .sbox:hover {
/* 	opacity: 1.0; */
	transition: 0.15s linear;
	}
.box h4, .sbox h4 {
	margin: 0 0 0 0;
	font: 2em 'Amperzand', Amperzand;
	text-align: center;
	border-bottom: 1.2px #6FE9A8 solid;
	}


/* Search Boxes */
.sbox {
	float: left;
	width: 25%;
	margin: 0 3px;
	opacity: 0.9;
	transition: 0.15s linear;
	}
#search {
	width: 100%;
	margin-top: 8px;
	border-spacing: 1px;
	}
form {
	height: 25px;
	}
td a {
	color: #BABABA;
	font-size: 1.2em;
	font-weight: 300;
	border-radius: 20px;
	line-height: 25px;
	}
td:hover a {
/* 	background: #0A0A0A; */
/* 	box-shadow: 0 0 4px #FFF; */
	color: #9B7BF2;
	transition: 0.15s linear;
	}
td {
/* 	background: #2a2a2a; */
	color: #38AFFF;
	padding: 0 0 0 0;
	min-height: 25px;
	max-height: 25px;
	margin-top: 0px;
	}
td:nth-child(1) {
	float: left;
	width: 30%;
	text-align: center;
	}
td:nth-child(2) {
	float: right;
	width: 65%;
	}
input {
	height: 20px;
	width: 80%;
	margin-top: 2px;
	padding: 0 0 0 8px;
	border: none;
	border-radius: 20px;
	opacity: 0.8;
	cursor: default;
	transition: 0.15s linear;
	}
input:hover, input:focus {
/* 	width: 100%; */
	opacity: 1.0;
	box-shadow: 0 0 4px #0A0A0A;
	}


#search {
  width: 100%;
  height: 100vh;
  background-color: #A0A0A0;
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
